:root {
  --primary: #A88F7F;
  --secondary: #EEDFD4;
  --tertiary: #BF7E62;
  --color-text: #fff;
  --color-text-secondary: #000;
  --color-text-tertiary: #5d5d5d;
  --text: "montserrat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/bodyFichaimg.png);
  background-size: cover;
  background-position: center;
}

form {
  width: 60%;
  padding: 20px;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgb(146, 142, 142);
  margin-bottom: 2rem;
}

#title {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#dados-pessoais label {
  display: block;
  font-weight: 500;
  color: #fff;
}
#dados-pessoais input {
  height: 30px;
  outline: none;
  border: 1px solid rgb(192, 183, 183);
  border-radius: 3px;
}
#dados-pessoais input:focus {
  border: 1.5px solid rgb(144, 144, 248);
  border-radius: 3px;
}
#dados-pessoais #name {
  width: 400px;
}
#dados-pessoais #date {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#genero {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
#genero p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
}
#genero label {
  color: #fff;
}

#adress label {
  display: block;
  font-weight: 500;
  margin-top: 12px;
  color: #fff;
}
#adress input {
  height: 30px;
  outline: none;
  border: 1px solid rgb(192, 183, 183);
}
#adress input:focus {
  border: 1.5px solid rgb(144, 144, 248);
  border-radius: 3px;
}
#adress #container-input-align {
  display: flex;
}
#adress #container-input-align #input-align {
  margin-left: 50px;
  height: 30px;
  outline: none;
}

#questions {
  margin-top: 2rem;
}
#questions h2 {
  font-size: 20px;
  margin-bottom: 2rem;
  color: #fff;
}
#questions .container-questions {
  margin-top: 2rem;
}
#questions .container-questions p {
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
#questions .container-questions label {
  font-weight: 400;
  color: #fff;
}
#questions #observation {
  margin-top: 2rem;
  font-weight: 500;
  color: #fff;
}
#questions #observation #campo-observation {
  width: 500px;
  outline: none;
}

#container-btn {
  margin-top: 1rem;
}
#container-btn #btn-form {
  width: 40%;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--tertiary);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  border-radius: 2px;
}
#container-btn #btn-form:hover {
  background-color: #b07055;
}

#respostas {
  display: block;
  box-shadow: 1px 1px 10px rgba(181, 175, 175, 0.4);
  width: 60%;
  margin: auto;
  padding: 20px;
  margin-top: 2rem;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
}
#respostas h1 {
  text-align: center;
  font-size: 25px;
}
#respostas h2 {
  font-size: 15px;
  margin-bottom: 2rem;
  text-align: center;
}
#respostas .respostas {
  color: rgb(242, 113, 113);
}
#respostas #genero p {
  font-size: 16px;
}
#respostas #questions .respostas .pergunta {
  color: #fff;
}
#respostas #btn-pdf {
  width: 40%;
  height: 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #b07055;
  color: #fff;
  border-radius: 2px;
}
#respostas #btn-pdf:hover {
  background-color: #c68c73;
}

@media (max-width: 780px) {
  form {
    border: 1px solid black;
    width: 95%;
    padding: 20px;
    margin: auto;
    margin-top: 2rem;
  }
  h1 {
    font-size: 14px;
    text-align: center;
    color: var(--tertiary);
  }
  #dados-pessoais label {
    display: block;
    font-weight: 500;
  }
  #dados-pessoais #name {
    width: 300px;
  }
  #dados-pessoais input {
    height: 27px;
  }
  #genero {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #genero p {
    font-size: 16px;
    font-weight: 500;
  }
  #genero label {
    font-weight: 500;
  }
  #adress label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  #adress #container-input-align {
    display: block;
  }
  #adress #container-input-align #input-align {
    margin-left: 0px;
  }
  #adress input {
    height: 27px;
  }
  #adress #label-cep {
    margin-top: 2rem;
  }
  #questions {
    margin-top: 2rem;
  }
  #questions h2 {
    font-size: 20px;
    margin-bottom: 2rem;
    color: #fff;
  }
  #questions .container-questions {
    margin-top: 2rem;
  }
  #questions .container-questions p {
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
  }
  #questions .container-questions label {
    font-weight: 400;
    color: #fff;
  }
  #questions #observation {
    margin-top: 2rem;
    font-weight: 500;
    color: #fff;
  }
  #questions #observation #campo-observation {
    width: 300px;
    outline: none;
  }
  #container-btn {
    margin-top: 1rem;
  }
  #container-btn #btn-form {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--tertiary);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
  }
  #container-btn #btn-form:hover {
    background-color: #b07055;
  }
  #respostas {
    display: none;
    border: 1px solid red;
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 2rem;
    font-size: 16px;
    border-radius: 5px;
  }
  #respostas .respostas {
    color: rgb(255, 0, 0);
  }
  #respostas #genero p {
    font-size: 16px;
  }
  #questions {
    margin-top: 2rem;
  }
  #questions h2 {
    font-size: 20px;
    margin-bottom: 1rem;
    color: var(--tertiary);
  }
  #questions .container-questions {
    margin-bottom: 1rem;
  }
  #questions button {
    width: 100%;
    border: 2px solid var(--tertiary);
    color: var(--tertiary);
    background: var(--secondary);
  }
}/*# sourceMappingURL=ficha.css.map */