:root{
    --primary: #A88F7F;
    --secondary: #EEDFD4;
    --tertiary: #BF7E62;
    --color-text: #fff;
    --color-text-secondary: #000;
    --color-text-tertiary: #5d5d5d;
    --text: 'montserrat';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
body{
    background-color: var(--secondary);
    background-size: cover;
    background-position: center;
}

form{   
    width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 7px var(--primary);
    margin-bottom: 2rem;
    background-color: var(--color-text-tertiary);
    
    
}
#title{
    font-size: 20px;
    text-align: center;
    color: #fff;
}
#dados-pessoais{
    label{
        display: block;
        font-weight: 500;
        color: #fff;
        
    }
    input{
        height: 30px;
        outline: none;
        border: 1px solid rgb(192, 183, 183);
        border-radius: 3px;
    }
    input:focus{
        border: 1.5px solid rgb(144, 144, 248);
        border-radius: 3px;
    }
    #name{
        width: 400px;
        
    } 
    #date{
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    } 
}

#genero{  
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    p{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #fff;
    }
    label{
        color: #fff;
    }
   
}
#adress{

    label{
        display: block;
        font-weight: 500;
        margin-top: 12px;
        color: #fff;
    }
    input{
        height: 30px;
        outline: none;
        border: 1px solid rgb(192, 183, 183);
        border-radius: 3px;
    }
    input:focus{
        border: 1.5px solid rgb(144, 144, 248);
        border-radius: 3px;
    }    
    #container-input-align{
        display: flex;
       

        #input-align{
            margin-left: 50px;
            height: 30px;
            outline: none;
        }
        
       
    }
   
}




#questions{
    margin-top: 2rem;
    h2{
        font-size: 20px;
        margin-bottom: 2rem;
        color: #fff;
    }
    .container-questions{
        margin-top: 2rem;
           
        p{
            font-weight: 500;
            margin-bottom: 10px;
            color: #fff;
        }
        label{
            font-weight: 400;
            color: var(--color-text);
        }
        #container-img-cor-pele{
            display: flex;
            justify-content: center;
            align-items: center;
            .card-img-cor-pele{
               
                .img-cor-pele{
                    height: 150px;                
                   
                }
                p{
                    font-size: 11px;
                    
                    
                    
                   
                }
            }
        }
        
    }
    
    #observation{
        margin-top: 2rem;
        font-weight: 500;
        color: #fff;
        #campo-observation{
            width: 500px;
            outline: none;
            
        }
    }
}
#container-btn{
    margin-top: 1rem;
    #btn-form{
        width: 40%;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: var(--tertiary);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        border-radius: 2px;
    }
    #btn-form:hover{
        background-color: #b07055;

    }
}










#respostas{
    display: block;
    box-shadow: 1px 1px 10px rgba(181, 175, 175, 0.4);
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 2rem;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    background-color: var(--color-text-tertiary);
    h1{
        text-align: center;
        font-size: 25px;
    }
    h2{
        font-size: 15px;
        margin-bottom: 2rem;
        text-align: center;
    }
   
 
    .respostas{
        color: rgb(242, 113, 113);
    }
    #genero{
       
        p{
            font-size: 16px;
            
            
        }
        
    }
    #questions{
        .respostas{
            .pergunta{
                color: #fff;
            }
        }
    }
    #btn-pdf{
        width: 40%;
        height: 30px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        background-color:#b07055;
        color: #fff;
        border-radius: 2px;
    }
    #btn-pdf:hover{
        background-color:#c68c73;
        ;
    }   
}

.selected {
    border: 2px solid blue;
}




@media (max-width: 780px){
    form{
       
        border: none;
        width: 95%;
        padding: 20px;
        margin: auto;
        margin-top: 2rem;
        
    }
    h1{
        font-size: 14px;
        text-align: center;
        color:var(--tertiary);
    }
    #dados-pessoais{
        label{
            display: block;
            font-weight: 500;  
        }
        #name{
            width: 300px;
            
        } 
        input{
            height: 27px;
        } 
    }
    
    #genero{  
      margin-top: 1rem;
      margin-bottom: 1rem;
        p{
            font-size: 16px;
            font-weight: 500;
        }
        label{
            font-weight: 500;
        }
       
    }
    #adress{
    
        label{
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }
        
        #container-input-align{
            display: block;
            #input-align{
                margin-left: 0px;
            }
           
            
           
        }
        input{
            height: 27px;
        }
        #label-cep{
            margin-top: 2rem;
        }
       
    }
    #questions{
        margin-top: 2rem;
        h2{
            font-size: 20px;
            margin-bottom: 2rem;
            color: #fff;
        }
        .container-questions{
            margin-top: 2rem;
            
            #container-img-cor-pele{
                flex-direction: column;
               
                .card-img-cor-pele{
                    text-align: center;
                   max-width: 90%;
                    .img-cor-pele{
                        height: 200px;                
                       
                    }
                    p{
                        font-size: 15px;
                        
                        
                        
                       
                    }
                }
            }
        }
        #observation{
            margin-top: 2rem;
            font-weight: 500;
            color: #fff;
            #campo-observation{
                width: 300px;
                outline: none;
                
            }
        }
    }
    #container-btn{
        margin-top: 1rem;
        #btn-form{
            width: 100%;
            height: 30px;
            cursor: pointer;
            border: none;
            background-color: var(--tertiary);
            font-weight: 500;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            border-radius: 2px;
        }
        #btn-form:hover{
            background-color: #b07055;
    
        }
    }


    


#respostas{
    display: none;
    box-shadow: 1px 1px 10px rgba(181, 175, 175, 0.4);
    width: 95%;
    margin: auto;
    padding: 20px;
    margin-top: 2rem;
    font-size: 16px;
    border-radius: 3px;
    color: var(--color-text-tertiary);
    background-color: #fff;
    h1{
        text-align: center;
        font-size: 25px;
    }
    h2{
        font-size: 15px;
        margin-bottom: 2rem;
        text-align: center;
    }
    #dados-pessoais{
        label{
            color: var(--color-text-secondary);
        }
        .respostas{
            color: #000;
        }
        
    }
    #genero{
        p{
            color: #000;
        }
        .respostas{
            color: #000;
        }
    }
    #adress{
        label{
            color: #000;
        }
        .respostas{
            color: rgb(15, 15, 208);
        }
    }
   
 
    .respostas{
        .pergunta{
            color: var(--color-text-secondary);
            margin-top: 2rem;

        }
        .resposta{
            font-weight: 500;
            color: rgb(15, 15, 208);
            margin-top: 5px;
        }
       
    }
    #genero{
       
        p{
            font-size: 16px;
            
            
        }
        
    }
    #questions{
        h3{
            text-align: center;
        }
        .respostas{
            .pergunta{
                color: var(--color-text-secondary);
            }
        }
    }
    #btn-pdf{
        width: 100%;
        height: 40px;
        
        cursor: pointer;
        background-color:#b07055;
        color: #fff;
        border-radius: 2px;
    }
    #btn-pdf:hover{
        background-color:#c68c73;
        ;
    }   
}

.selected {
    border: 2px solid blue;
}


   
   
    
    

}
