:root {
  --primary: #A88F7F;
  --secondary: #EEDFD4;
  --tertiary: #BF7E62;
  --color-text: #fff;
  --color-text-secondary: #000;
  --color-text-tertiary: #5d5d5d;
  --text: "montserrat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  background-color: white;
  background-size: cover;
  background-position: center;
}

form {
  width: 60%;
  padding: 20px;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px var(--primary);
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
}

#title {
  font-size: 15px;
  text-align: center;
  color: var(--color-text-tertiary);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

#dados-pessoais label {
  display: block;
  font-weight: 500;
  color: var(--color-text-secondary);
  font-size: 15px;
}
#dados-pessoais input {
  height: 35px;
  outline: none;
  border: 1.5px solid rgb(221, 215, 215);
  border-radius: 3px;
}
#dados-pessoais input:focus {
  border: 1.5px solid var(--primary);
  border-radius: 3px;
}
#dados-pessoais #name {
  width: 400px;
}
#dados-pessoais #date {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#genero {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
#genero p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-text-secondary);
}
#genero label {
  color: var(--color-text-secondary);
  font-size: 15px;
}

#adress label {
  display: block;
  font-weight: 500;
  margin-top: 12px;
  color: var(--color-text-secondary);
  font-size: 15px;
}
#adress input {
  height: 35px;
  outline: none;
  border: 1px solid rgb(192, 183, 183);
  border-radius: 3px;
}
#adress input:focus {
  border: 1.5px solid var(--primary);
  border-radius: 3px;
}
#adress #rua {
  width: 435px;
}
#adress #container-input-align {
  display: flex;
}
#adress #container-input-align #input-align {
  margin-left: 50px;
  height: 30px;
  outline: none;
}

#questions {
  margin-top: 2rem;
}
#questions h2 {
  font-size: 20px;
  margin-bottom: 2rem;
  color: var(--color-text-secondary);
  text-align: center;
}
#questions .container-questions {
  margin-top: 2rem;
}
#questions .container-questions p {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-text-secondary);
  padding: 10px;
}
#questions .container-questions p span {
  padding-right: 10px;
  font-weight: bold;
  color: rgb(42, 42, 148);
}
#questions .container-questions label {
  font-weight: bold;
  color: var(--color-text-secondary);
  margin: 10px;
}
#questions .container-questions #container-img-cor-pele {
  display: flex;
  justify-content: center;
  align-items: center;
}
#questions .container-questions #container-img-cor-pele .card-img-cor-pele {
  border: 1px solid rgb(226, 218, 218);
  margin: 5px;
  border-radius: 4px;
}
#questions .container-questions #container-img-cor-pele .card-img-cor-pele .img-cor-pele {
  height: 150px;
}
#questions .container-questions #container-img-cor-pele .card-img-cor-pele p {
  font-size: 11px;
}
#questions #observation {
  margin-top: 2rem;
  font-weight: 500;
}
#questions #observation #campo-observation {
  width: 500px;
  outline: none;
}

#container-btn {
  margin-top: 1rem;
}
#container-btn #btn-form {
  width: 40%;
  height: 35px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  border: 1px solid black;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--color-text-secondary);
  border-radius: 2px;
}
#container-btn #btn-form:hover {
  background-color: #817771;
  color: #fff;
}

input::-moz-placeholder {
  font-size: 12px;
  color: var(--color-text-tertiary);
}

input::placeholder {
  font-size: 12px;
  color: var(--color-text-tertiary);
}

#respostas {
  display: none;
  box-shadow: 1px 1px 10px rgba(181, 175, 175, 0.4);
  width: 60%;
  margin: auto;
  padding: 20px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 3px;
  color: var(--color-text-secondary);
  background-color: #fff;
}
#respostas h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 2rem;
}
#respostas h2 {
  font-size: 15px;
  margin-bottom: 2rem;
  text-align: center;
}
#respostas .respostas {
  color: rgb(33, 33, 247);
}
#respostas #genero p {
  font-size: 16px;
}
#respostas #questions .respostas .pergunta {
  color: #fff;
}
#respostas #btn-pdf {
  border: none;
  width: 40%;
  height: 40px;
  font-weight: 600;
  background-color: red;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  transition: all 1s;
}
#respostas #btn-pdf:hover {
  background-color: rgb(139, 2, 2);
  color: #fff;
}

#msg-confirmation {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 500;
  border: 1px solid red;
  padding: 5px;
  border-radius: 4px;
}
#msg-confirmation span {
  color: red;
  font-family: 100px;
}

.selected {
  border: 2px solid rgb(33, 33, 247);
}

@media (max-width: 780px) {
  form {
    border: none;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 0rem;
  }
  #dados-pessoais label {
    display: block;
    font-weight: 500;
  }
  #dados-pessoais #name {
    width: 330px;
  }
  #dados-pessoais input {
    height: 40px;
  }
  #genero {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #genero p {
    font-size: 16px;
    font-weight: 500;
  }
  #genero label {
    font-weight: 500;
  }
  #adress label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  #adress #rua {
    width: 330px;
  }
  #adress #container-input-align {
    display: block;
  }
  #adress #container-input-align #input-align {
    margin-left: 0px;
  }
  #adress input {
    height: 40px;
  }
  #adress #label-cep {
    margin-top: 3rem;
  }
  #questions {
    margin-top: 2rem;
  }
  #questions h2 {
    font-size: 20px;
    margin-bottom: 2rem;
    color: var(--color-text-tertiary);
  }
  #questions .container-questions {
    margin-top: 2rem;
  }
  #questions .container-questions #container-img-cor-pele {
    flex-direction: column;
  }
  #questions .container-questions #container-img-cor-pele .card-img-cor-pele {
    text-align: center;
    max-width: 90%;
  }
  #questions .container-questions #container-img-cor-pele .card-img-cor-pele .img-cor-pele {
    height: 200px;
  }
  #questions .container-questions #container-img-cor-pele .card-img-cor-pele p {
    font-size: 15px;
  }
  #questions #observation {
    margin-top: 2rem;
    font-weight: 500;
    color: #fff;
  }
  #questions #observation #campo-observation {
    width: 300px;
    outline: none;
  }
  #container-btn {
    margin-top: 1rem;
  }
  #container-btn #btn-form {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(54, 52, 52);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
  }
  #respostas {
    display: none;
    box-shadow: 1px 1px 10px #fff;
    width: 95%;
    margin: auto;
    padding: 20px;
    margin-top: none;
    font-size: 16px;
    border-radius: 3px;
    color: var(--color-text-tertiary);
    background-color: #fff;
  }
  #respostas h1 {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  #respostas h2 {
    font-size: 15px;
    margin-bottom: 2rem;
    text-align: center;
  }
  #respostas #obs {
    color: rgb(244, 8, 8);
    font-size: 13px;
  }
  #respostas #dados-pessoais label {
    color: var(--color-text-secondary);
  }
  #respostas #dados-pessoais .respostas {
    color: rgb(15, 15, 208);
  }
  #respostas #genero p {
    color: #000;
  }
  #respostas #genero .respostas {
    color: rgb(15, 15, 208);
  }
  #respostas #adress label {
    color: #000;
  }
  #respostas #adress .respostas {
    color: rgb(15, 15, 208);
  }
  #respostas .respostas .pergunta {
    color: var(--color-text-secondary);
    margin-top: 2rem;
  }
  #respostas .respostas .resposta {
    font-weight: 500;
    color: rgb(15, 15, 208);
    margin-top: 5px;
  }
  #respostas #genero p {
    font-size: 16px;
  }
  #respostas #questions h3 {
    text-align: center;
  }
  #respostas #questions .respostas .pergunta {
    color: var(--color-text-secondary);
  }
  #respostas #btn-pdf {
    border: none;
    width: 100%;
    height: 40px;
    font-weight: 600;
    background-color: rgb(211, 17, 17);
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
    transition: all 1s;
  }
  #respostas #btn-pdf:hover {
    background-color: rgb(139, 2, 2);
    color: #fff;
  }
  .selected {
    border: 2px solid blue;
  }
}/*# sourceMappingURL=ficha.css.map */