:root {
  --primary: #A88F7F;
  --secondary: #EEDFD4;
  --tertiary: #BF7E62;
  --color-text: #fff;
  --color-text-secondary: #000;
  --color-text-tertiary: #5d5d5d;
  --text: "montserrat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  background-color: #f7f4f2;
}

#price-list #title-tabela {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#price-list #title-tabela h1 {
  margin-top: 2rem;
  font-family: "montserrat";
  color: #5d5d5d;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
#price-list #title-tabela #formas-pagamento {
  display: flex;
  justify-content: center;
  align-items: center;
}
#price-list #title-tabela #formas-pagamento p {
  font-weight: 500;
}
#price-list #title-tabela #formas-pagamento #bandeiras {
  display: flex;
  justify-content: center;
  align-items: center;
}
#price-list #title-tabela #formas-pagamento #bandeiras img {
  margin: 5px;
  height: 20px;
}
#price-list #title-tabela #formas-pagamento #bandeiras #master {
  height: 50px;
}
#price-list #title-tabela #formas-pagamento #bandeiras #paypal {
  height: 50px;
}
#price-list #back-price-list {
  display: flex;
  justify-content: center;
}
#price-list #back-price-list #btn-back-price-list {
  background-color: rgb(245, 244, 239);
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border: 1px solid rgb(29, 31, 43);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.4s;
  font-family: "montserrat";
  border-radius: 4px;
}
#price-list #back-price-list #btn-back-price-list:hover {
  background-color: var(--primary);
  color: #fff;
}
#price-list #back-price-list a {
  text-decoration: none;
}
#price-list #container-cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
#price-list #container-cards .cards {
  border: 1px solid var(--tertiary);
  border-radius: 0px 0px 10px 10px;
}
#price-list #container-cards .cards .body-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
#price-list #container-cards .cards .body-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 10px;
}
#price-list #container-cards .cards .body-card .text-body-card h2 {
  font-size: 18px;
  color: #6d6a6a;
}
#price-list #container-cards .cards .body-card .text-body-card p {
  font-size: 18px;
  font-weight: bold;
}
#price-list #container-cards .cards .body-card .text-body-card .obs-title {
  font-size: 12px;
  font-weight: 400;
  max-width: 150px;
}
#price-list #container-cards .rodape-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-radius: 0px 0px 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: #fff;
}
#price-list #container-cards .rodape-card .preco {
  width: 40%;
  border-right: 2px solid black;
  text-align: center;
}
#price-list #container-cards .rodape-card .preco .qtdd-parcelas {
  font-size: 16px;
}
#price-list #container-cards .rodape-card .preco p {
  font-size: 20px;
  font-weight: 600;
}
#price-list #container-cards .rodape-card .btn-card {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#price-list #container-cards .rodape-card .btn-card .box-price-total .price-before {
  font-size: 12px;
  text-decoration: line-through;
}
#price-list #container-cards .rodape-card .btn-card .box-price-total p {
  font-size: 15px;
  padding-right: 5px;
}
#price-list #container-cards .rodape-card .btn-card .btn {
  width: 120px;
  height: 30px;
  background-color: rgb(7, 194, 7);
  border: none;
}
#price-list #container-cards .rodape-card .btn-card .btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
#price-list #container-cards .rodape-card .btn-card .btn:hover {
  background-color: rgb(29, 218, 29);
}

@media (max-width: 768px) {
  #price-list #title-tabela {
    flex-direction: column;
  }
  #price-list #title-tabela h1 {
    margin-top: 1rem;
    font-family: "montserrat";
    color: #5d5d5d;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  #price-list #title-tabela #formas-pagamento {
    flex-direction: column;
  }
  #price-list #title-tabela #formas-pagamento p {
    font-size: 12px;
    font-weight: 500;
  }
  #price-list #title-tabela #formas-pagamento #bandeiras {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #price-list #title-tabela #formas-pagamento #bandeiras img {
    margin: 5px;
    height: 15px;
  }
  #price-list #title-tabela #formas-pagamento #bandeiras #master {
    height: 50px;
  }
  #price-list #title-tabela #formas-pagamento #bandeiras #paypal {
    height: 50px;
  }
  #price-list h1 {
    margin-top: 2rem;
    font-family: "montserrat";
    color: #B65D49;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  #price-list #back-price-list {
    display: flex;
    justify-content: center;
  }
  #price-list #back-price-list #btn-back-price-list {
    background-color: rgb(245, 244, 239);
    margin-top: 30px;
    width: 250px;
    height: 40px;
    border: 1px solid rgb(29, 31, 43);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.4s;
    font-family: "montserrat";
    border-radius: 4px;
  }
  #price-list #back-price-list a {
    text-decoration: none;
  }
  #price-list #container-cards {
    max-width: 768px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: none;
    grid-row-gap: 20px;
    justify-items: center;
  }
  #price-list #container-cards .cards {
    border: 1px solid var(--tertiary);
    border-radius: 0px 0px 10px 10px;
    width: 90%;
  }
  #price-list #container-cards .cards .body-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #price-list #container-cards .cards .body-card img {
    width: auto;
  }
  #price-list #container-cards .cards .body-card .text-body-card h2 {
    font-size: 20px;
  }
  #price-list #container-cards .cards .body-card .text-body-card p {
    font-size: 20px;
  }
  #price-list #container-cards .rodape-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    border-radius: 0px 0px 10px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
  }
  #price-list #container-cards .rodape-card .preco {
    width: 40%;
    border-right: 2px solid black;
    text-align: center;
  }
  #price-list #container-cards .rodape-card .preco .qtdd-parcelas {
    font-size: 16px;
  }
  #price-list #container-cards .rodape-card .preco p {
    font-size: 20px;
  }
  #price-list #container-cards .rodape-card .btn-card {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #price-list #container-cards .rodape-card .btn-card .box-price-total .price-before {
    font-size: 12px;
    text-decoration: line-through;
  }
  #price-list #container-cards .rodape-card .btn-card .box-price-total p {
    font-size: 15px;
  }
  #price-list #container-cards .rodape-card .btn-card .btn {
    width: 120px;
    height: 30px;
    background-color: rgb(7, 194, 7);
    border: none;
  }
  #price-list #container-cards .rodape-card .btn-card .btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=tabela.css.map */