:root{
    --primary: #A88F7F;
    --secondary: #EEDFD4;
    --tertiary: #BF7E62;
    --color-text: #fff;
    --color-text-secondary: #000;
    --color-text-tertiary: #5d5d5d;
    --text: 'montserrat';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}


#price-list{
  
    h1{
        margin-top: 2rem;
        font-family: 'montserrat';
        color: #B65D49;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
       }
       #back-price-list{
        display: flex;
        justify-content: center;
    
        #btn-back-price-list{
            background-color: rgb(245, 244, 239);
            margin-top: 30px;
            width: 250px;
            height: 40px;
            border: 1px solid rgb(29,31,43);
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
            transition: .4s;
            font-family: 'montserrat';
            border-radius: 4px;
        }
        a{
            text-decoration: none;
        }    
    }
    
    #container-cards{    
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
         
        .cards{
            border: 1px solid var(--tertiary);
            border-radius: 0px 0px 10px 10px;
                
            .body-card{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                   width: auto;
                }
                .text-body-card{
                    h2{
                        font-size: 20px;

                    }
                    p{
                        font-size: 20px;

                    }

                }
            }
        }
        .rodape-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--primary);
            border-radius: 0px 0px 10px 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;

            .preco{        
                width: 40%;
                border-right: 2px solid black;
                text-align: center;
                .qtdd-parcelas{
                    font-size: 16px;
                   
                }
                p{
                    font-size: 20px;
                }
            }
            .btn-card{
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .box-price-total{
                  
                    .price-before{
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                    p{
                        font-size: 15px;
    
                    }
                }
                .btn{
                    width: 100px;
                    height: 30px;
                    background-color: rgb(7, 194, 7);
                    border: none;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                
            }
            
        }
        
    }
   




}

@media  (max-width: 768px) {
    #price-list{
      
  
        h1{
            margin-top: 2rem;
            font-family: 'montserrat';
            color: #B65D49;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
           }
           #back-price-list{
            display: flex;
            justify-content: center;
        
            #btn-back-price-list{
                background-color: rgb(245, 244, 239);
                margin-top: 30px;
                width: 250px;
                height: 40px;
                border: 1px solid rgb(29,31,43);
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
                transition: .4s;
                font-family: 'montserrat';
                border-radius: 4px;
            }
            a{
                text-decoration: none;
            }    
        }
        
        #container-cards{    
            max-width: 768px;
            text-align: center;
            display: grid;
            grid-template-columns: auto;
            grid-column-gap: none;
            grid-row-gap: 20px;
            justify-items: center;
             
            .cards{
                border: 1px solid var(--tertiary);
                border-radius: 0px 0px 10px 10px;
                width: 90%;      
                    
                .body-card{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                       width: auto;
                    }
                    .text-body-card{
                        h2{
                            font-size: 20px;
    
                        }
                        p{
                            font-size: 20px;
    
                        }
    
                    }
                }
            }
            .rodape-card{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: var(--primary);
                border-radius: 0px 0px 10px 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #fff;
    
                .preco{        
                    width: 40%;
                    border-right: 2px solid black;
                    text-align: center;
                    .qtdd-parcelas{
                        font-size: 16px;
                       
                    }
                    p{
                        font-size: 20px;
                    }
                }
                .btn-card{
                    width: 60%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .box-price-total{
                      
                        .price-before{
                            font-size: 12px;
                            text-decoration: line-through;
                        }
                        p{
                            font-size: 15px;
        
                        }
                    }
                    .btn{
                        width: 120px;
                        height: 30px;
                        background-color: rgb(7, 194, 7);
                        border: none;
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                    
                }
                
            }
            
        }
       
    
    
    
    
    }
    
}