:root{
    --primary: #A88F7F;
    --secondary: #EEDFD4;
    --tertiary: #BF7E62;
    --color-text: #fff;
    --color-text-secondary: #000;
    --color-text-tertiary: #5d5d5d;
    --text: 'montserrat';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
body{
    background-color: #f7f4f2;
}


#price-list{
  
    #title-tabela{
        display: flex;
        justify-content: space-around;
        background-color: var(--secondary);
        margin-bottom: 1rem;
        margin-top: 1rem;
        

        h1{
            margin-top: 2rem;
            font-family: 'montserrat';
            color:#5d5d5d;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
           }
           #formas-pagamento{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-weight: 500;

            }
            #bandeiras{
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    margin: 5px;  
                    height: 20px;      
                }
                #master{
                    height: 50px;
                }
                #paypal{
                    height: 50px;
                }
                
                
            }
            
           }
    }
       #back-price-list{
        display: flex;
        justify-content: center;
    
        #btn-back-price-list{
            background-color: rgb(245, 244, 239);
            margin-top: 10px;
            width: 250px;
            height: 40px;
            border: 1px solid rgb(29,31,43);
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
            transition: .4s;
            font-family: 'montserrat';
            border-radius: 4px;
        }
        #btn-back-price-list:hover{
            background-color: var(--primary);
            color: #fff;
        }
        a{
            text-decoration: none;
        }    
    }
    
    #container-cards{    
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
         
        .cards{
            border: 1px solid var(--tertiary);
            border-radius: 0px 0px 10px 10px;
            
          
                
            .body-card{
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 150px;
                img{
                   width: 130px;
                   height: 130px;
                   border-radius: 50%;
                   padding: 10px;
                }
                .text-body-card{
                    h2{
                        font-size: 18px;
                        color: #6d6a6a;

                    }
                    p{
                        font-size: 18px;
                        font-weight: bold;
                        

                    }
                    .obs-title{
                        font-size: 12px;
                        font-weight: 400;
                        max-width: 150px;
                    }

                }
            }
        }
        .rodape-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--primary);
            border-radius: 0px 0px 10px 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            color: #fff;

            .preco{        
                width: 40%;
                border-right: 2px solid black;
                text-align: center;
                .qtdd-parcelas{
                    font-size: 16px;
                    
                   
                }
                p{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .btn-card{
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .box-price-total{
                  
                    .price-before{
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                    p{
                        font-size: 15px;
                        padding-right: 5px;
    
                    }
                }
                .btn{
                    width: 120px;
                    height: 30px;
                    background-color: rgb(7, 194, 7);
                    border: none;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
                .btn:hover{
                    background-color: rgb(29, 218, 29);

                }
                
            }
            
        }
        
    }
    #faixa-title-pacotes{
        margin-top: 2rem;
        background-color: #EEDFD4;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            text-align: center;
            text-transform: uppercase;
            color: #5d5d5d;
            
        }
    }

    #container-pacotes{
        display: flex;
        margin: 1.5rem;
        #pacotes{
                margin-top: 2rem;
                margin-bottom: 2rem;    
                width: 320px;
                box-shadow: 1px 1px 10px  #a39286 ;
                border-radius: 0px 0px 10px 10px;
                margin: 5px;
                position: relative;
                
            
            .cards-pacotes{
                     
                .title-pacotes{
                    background-color: var(--primary);
                    width: 85%;
                    text-align: center;
                    margin: 0 auto;
                    margin-top: -20px;
                    h1{
                        font-size: 30px;
                        font-weight: bold;
                        color: #fff;
                    }      
                }
                .subtitle-pacotes{
                    
                    text-align: center;
                    margin-top: 5px;
                    h2{
                        font-size: 20px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
        
                    }
                    h3{
                        font-size: 16px;
        
                    }    
                }
                .options{
                    text-align: center;
                    margin-top: 1rem;
                    margin-bottom: 10px;
                    font-size: 17px;
                    font-weight: 500;
                    text-transform: uppercase;
        
                }
                .list-options{
                    height: 320px;
                    margin-left: 50px;
                    
                    li{
                        font-weight: 500;
                        margin-left: 25px;
                        font-size: 18px;
                    }
                }
                #list-pacote4{
                    li{
                        font-size: 14px;

                    }
                    
                }
                
                .card-price{
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1rem;
                    background-color: var(--primary);
                    border-radius: 0px 0px 10px 10px;
                    color: #fff;
                    height: 60px;
                    width: 100%;
                    
                    .price{          
                        width: 120px;
                        text-align: center;
                        border-right: 2px solid black;
                        p{
                            font-size: 18px;
                            font-weight: 600;
                        }
                                  
                    }
                    #txt-price-monte-o-seu{
                        font-size: 15px;
                        padding-right: 20px;
                    }
                    
                }
                .box-price-total-end-btn{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    
                    
                    .price-total{
                        margin: 10px;
                        .price-before{
                            text-decoration: line-through;
                            font-weight: 400;
                            font-size: 12px;
                        }
                        p{
                            font-weight: 500;
                            font-size: 15px;
                            
                        }
                        
                    }
                    .box-btn-pacotes{
                        
                        .btn-pacotes{
                            width: 80px;
                            height: 35px;
                            border: none;
                            background-color: rgb(7, 194, 7);
                            
                            a{
                                text-decoration: none;
                                color: #fff;
                                font-size: 13px;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        .btn-pacotes:hover{
                            background-color: rgb(92, 124, 92);
                        }
                        #btn-pacotes-last{
                            width: 120px;
                            margin-left: 10px;
                        }
        
                    }
                   
                }
                
            }
            
           
            
    
        }
        
    }
    
   




}

@media  (max-width: 768px) {
    #price-list{
        #title-tabela{
            flex-direction: column;
            
            
    
            h1{
                margin-top: 1rem;
                font-family: 'montserrat';
                color:#5d5d5d;
                font-size: 1.2rem;
                margin-bottom: 2rem;
                text-transform: uppercase;
               }
               #formas-pagamento{
                flex-direction: column;
                
                p{
                    font-size: 12px;
                    font-weight: 500;
    
                }
                #bandeiras{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img{
                        margin: 5px;  
                        height: 15px;      
                    }
                    #master{
                        height: 50px;
                    }
                    #paypal{
                        height: 50px;
                    }
                    
                    
                }
                
               }
        }
      
  
        h1{
            margin-top: 2rem;
            font-family: 'montserrat';
            color: #B65D49;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
           }
           #back-price-list{
            display: flex;
            justify-content: center;
        
            #btn-back-price-list{
                background-color: rgb(245, 244, 239);
                margin-top: 30px;
                width: 250px;
                height: 40px;
                border: 1px solid rgb(29,31,43);
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
                transition: .4s;
                font-family: 'montserrat';
                border-radius: 4px;
            }
            a{
                text-decoration: none;
            }    
        }
        
        #container-cards{    
            max-width: 768px;
            text-align: center;
            display: grid;
            grid-template-columns: auto;
            grid-column-gap: none;
            grid-row-gap: 20px;
            justify-items: center;
             
            .cards{
                border: 1px solid var(--tertiary);
                border-radius: 0px 0px 10px 10px;
                width: 90%;      
                    
                .body-card{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                       width: auto;
                    }
                    .text-body-card{
                        h2{
                            font-size: 20px;
    
                        }
                        p{
                            font-size: 20px;
    
                        }
    
                    }
                }
            }
            .rodape-card{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary);
                border-radius: 0px 0px 10px 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #fff;
    
                .price{        
                    width: 100px;
                    border-right: 2px solid black;
                    text-align: center;
                    .qtdd-parcelas{
                        font-size: 16px;
                       
                    }
                    p{
                        font-size: 20px;
                    }
                }
                .btn-card{
                    width: 60%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .box-price-total{
                      
                        .price-before{
                            font-size: 12px;
                            text-decoration: line-through;
                        }
                        p{
                            font-size: 15px;
        
                        }
                    }
                    .btn{
                        width: 120px;
                        height: 30px;
                        background-color: rgb(7, 194, 7);
                        border: none;
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                    
                }
                
            }
            
        }


        #container-pacotes{
            flex-direction: column;
            margin: auto;
            #pacotes{
                margin-top: 2rem;
                margin-bottom: 2rem;    
                width: 90%;
                box-shadow: 1px 1px 6px  #a39286 ;
                border-radius: 0px 0px 10px 10px;
                margin: 15px;
                
                .cards-pacotes{
                    
                    .title-pacotes{
                        background-color: var(--primary);
                        width: 90%;
                        text-align: center;
                        margin-top: -20px;
                        
                        h1{
                            font-size: 28px;
                            font-weight: bold;
                            color: #fff;
                        }      
                    }
                    .subtitle-pacotes{
                        
                        text-align: center;
                        margin-top: 5px;
                        h2{
                            font-size: 22px;
                            color: #4e4c4c;
            
                        }
                        h3{
                            font-size: 16px;
            
                        }    
                    }
                    .options{
                        text-align: center;
                        margin-top: 1rem;
                        margin-bottom: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: uppercase;
            
                    }
                    #list-pacote1{
                        font-weight: 500;
                        height: 170px;
                        li{
                            font-size: 15px;
                        }                      
                    }
                    #list-pacote2{
                        font-weight: 500;
                        height: 170px;
                        li{
                            font-size: 15px;
                        }                      
                    }
                    #list-pacote3{
                        font-weight: 500;
                        height: 240px;
                        li{
                            font-size: 15px;
                        }                      
                    }
                    #list-pacote4{
                        font-weight: 500;
                        height: 390px;
                        li{
                            font-size: 15px;
                        }                      
                    }
                    .card-price{
                       
                       
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                        background-color: var(--primary);
                        border-radius: 0px 0px 10px 10px;
                        color: #fff;
                        height: 60px;
                        width: 100%;
                        
                        .price{          
                            width: 120px;
                            text-align: center;
                            border-right: 2px solid black;
                            p{
                                font-size: 18px;
                                font-weight: 600;
                            }
                                      
                        }
                        #txt-price-monte-o-seu{
                            font-size: 15px;
                            padding-right: 20px;
                        }
                        
                    }
                    .box-price-total-end-btn{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        
                        
                        .price-total{
                            margin: 10px;
                            .price-before{
                                text-decoration: line-through;
                                font-weight: 400;
                                font-size: 12px;
                            }
                            p{
                                font-weight: bold ;
                                font-size: 20px;
                            }
                        }
                        .box-btn-pacotes{
                            
                            .btn-pacotes{
                                width: 80px;
                                height: 35px;
                                border: none;
                                background-color: rgb(7, 194, 7);
                                color: #fff;
                            }
                            #btn-pacotes-last{
                                width: 120px;
                                margin-left: 30px;
                            }
            
                        }
                       
                    }
            
                }
                
            }

                }
                
                
       
    
    
    
    
    }
    
}